<article class="main-content page-page">
  <div class="post-header">
    <h1 class="post-title" itemprop="name headline">友情链接</h1>
    <div class="post-data">
      <time datetime="2017-09-17" itemprop="datePublished">发布于 {{nowTime | date:'yyyy-MM-dd HH:mm:ss'}}</time>
    </div>
  </div>
  <div id="post-content" class="post-content">
    <h2>友情链接</h2>
    <ul>
      <li>
        <p>🔒 <a href="https://www.linpx.com" target="_blank">Linpx</a></p>
      </li>
    </ul>
    <h2>链接须知</h2>
    <blockquote>
      <p>请确定贵站可以稳定运营
        原创博客优先，技术类博客优先，设计、视觉类博客优先
        经常过来访问和评论，眼熟的</p>
    </blockquote>
    <p>备注：默认申请友情链接均为内页（当前页面）</p>
  </div>
</article>
<app-comment></app-comment>
