<article class="main-content page-page">
  <div class="post-header">
    <h1 class="post-title" itemprop="name headline">关于</h1>
    <div class="post-data">
      <time datetime="2017-02-23" itemprop="datePublished">发布于 {{issueTime | date:'yyyy-MM-dd HH:mm:ss'}}</time>
    </div>
  </div>
  <div id="post-content" class="post-content">
    <h3>Email</h3>
    <p>zzy.main@gmail.com</p>
    <h3>Github</h3>
    <a routerLink="http://www.github.com/zzyandzzy">Github</a>
  </div>
</article>
<app-comment></app-comment>
