<div *ngIf="errorCode === 200" class="main-content archive-page clearfix">
  <div class="categorys-item" *ngFor="let postCardList of archivesMap">

    <div class="categorys-title" *ngIf="postCardList">{{postCardList[0].created * 1000 | date: 'yyyy年MM月'}}</div>
    <div class="post-lists">
      <div class="post-lists-body">
        <app-post-list-item *ngFor="let cate of postCardList;let i = index" [post]="cate"
                            [index]="i"></app-post-list-item>
      </div>
    </div>

  </div>
</div>
