<div class="main-content archive-page clearfix">
  <div class="categorys-item">
    <div class="categorys-title">文章归档</div>
    <div class="post-lists">
      <div class="post-lists-body">
        <div class="post-list-item">
          <div class="post-list-item-container">
            <div class="item-label">
              <div class="item-title">
                <a href="post.html">标题</a>
              </div>
              <div class="item-meta clearfix">
                <div class="item-meta-date">发布于 时间{{nowTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
