<div id="1" class="comment-container">
  <div id="comments" class="clearfix">
    <span class="response"></span>
    <form method="post" id="comment-form" class="comment-form">
      <input type="hidden" name="coid" id="coid">
      <input type="hidden" name="cid" id="cid" value="1">
      <input type="hidden" name="csrf_token" value="CyffsUNeFzyNfWMMBM6Lk0">
      <input name="author" maxlength="12" id="author" class="form-control input-control clearfix" placeholder="姓名 (*)"
             value="" required="">
      <input type="email" name="mail" id="mail" class="form-control input-control clearfix" placeholder="邮箱 (*)"
             value="" required="">
      <input type="url" name="url" id="url" class="form-control input-control clearfix" placeholder="网址 (http://)"
             value="">
      <textarea name="content" id="textarea" class="form-control" placeholder="基佬，留下你的评论." required="" minlength="5"
                maxlength="2000"></textarea>
      <button class="submit" id="misubmit">提交</button>
    </form>
  </div>
</div>
